# Site Configuration
SITE_NAME=""
DJANGO_SECRET_KEY=""
DJANGO_ADMIN_URL=""
DJANGO_ALLOWED_HOSTS=""

# PostgreSQL Database Configuration
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
DATABASE_URL=""

# Redis Configuration
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""
REDIS_URL=""

# Celery Configuration
CELERY_FLOWER_USER=""
CELERY_FLOWER_PASSWORD=""
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Security Configuration
COOKIE_SECURE=""
SIGNING_KEY=""

# Email Configuration
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
SMTP_MAILGUN_PASSWORD=""
DEFAULT_FROM_EMAIL=""
DOMAIN=""

# OAuth Configuration
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
REDIRECT_URIS=""